<?xml version="1.0"?>
<robot name="flat_gelsight">
  <link name="base">
    <inertial>
      <origin xyz="0 0 0.05" rpy="0 0 0" />
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>

    <visual>
      <geometry>
        <box size="0.1 0.1 0.001"/>
      </geometry>
    </visual>
  </link>
</robot>
